flask==2.3.3
flask_sqlalchemy
requests
python-dotenv
sqlalchemy
psycopg2-binary
pydantic
pytest
pytest-flask
coverage
Werkzeug==2.3.7
click==8.1.7
itsdangerous==2.1.2
Jinja2==3.1.2
black
isort
flake8
